# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
application.pid
out
gen
boot-jpa/src/test/
boot-jpa/target/
config-server/target/
kernel/src/main/resources/
kernel/src/test/
kernel/target/
config-client/target/
config-client/src/test/
logs/
boot-es/target/
boot-feign/boot-feign-request/target/
boot-feign/boot-feign-response/target/
boot-feign/boot-feign-service/target/
boot-kafka/target/
boot-mybatis/target/
boot-netty/boot-netty-client/src/test/
boot-netty/boot-netty-client/target/
boot-netty/boot-netty-common/src/main/resources/
boot-netty/boot-netty-common/src/test/
boot-netty/boot-netty-common/target/
boot-netty/boot-netty-server/src/test/
boot-netty/boot-netty-server/target/
boot-netty/boot-netty-tcp/src/test/
boot-netty/boot-netty-tcp/target/
boot-netty/src/
boot-rabbitmq/target/
boot-redisson/target/
boot-stream-kafka/target/
boot-task/target/
boot-zuul/src/test/
boot-zuul/target/
redisop/target/
register/target/
boot-swagger/src/test/
boot-swagger/target/
boot-dubbo/src/
boot-dubbo/target/
boot-dubbo/boot-dubbo-provider/src/test/
boot-dubbo/boot-dubbo-provider/target/
boot-dubbo/boot-dubbo-consumer/src/test/
boot-dubbo/boot-dubbo-consumer/target/
boot-mybatis-multi/target/
